# Data Science Tools and Ecosystem

## Author
Javier R

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages used in Data Science
- List commonly used libraries in Data Science
- List popular Data Science tools

Some of the popular languages that Data Scientists use are:

- Python
- SQL
- Java

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- Numpy
- Seaborn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebooks         |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335